.footer{
    /* border: green solid 2px; */
    height: 100px;
    margin: 100px 0px 0px 0px;
    padding: 40px 0px 0px 0px;
    background-color: #141625;
    color: whitesmoke;
    font-size: 20;
    font-weight: 600;
}

.pilih{
    cursor: pointer;
}

.pilih:hover{
    text-shadow: rgb(200, 199, 199) 2px 2px 3px;
}